section {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
}

.phonetic {
  opacity: 0.6;
  font-weight: bold;
}
